### Project-specific ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Build & Dependency ###
build/
node_modules/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IDE & Editor ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
.vscode/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/bin/

### System ###
.DS_Store

### Logs ###
/logs/